.addContainer{
  height: 1500px;
  width: 100%;
  background-color: black;

}
.addContainer,
.addVidContainer {
    height: 1500px;
    width: 100%;
    background-color: black;
}

.addVideoBackg{
  position: fixed;
  top: 20px;
  height: 85%;
  overflow: hidden;
  border-radius: 30px;
}
.optionsContainer{
  position: fixed;
  
  top: 0px;
  left: 0px;
  z-index: 1000;
  height: 100%;
}
.otionsRel{
  position: relative;
  width: 100%;
  height: 100%;
}
.optionsCloseTop{
  position: absolute;
  bottom: 0px;
  color: white;
}
.optionsCloseTop svg {
  color: white;
}