@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500&display=swap');

.card {
    width: 100%;
    height: 90vh;
    scroll-snap-align: start;
    background-color: black; 
    position: relative;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;*/
}
.card video{
  width: 100%;
  max-height: 90vh;
  object-fit: scale-down;
}
.controls-container {
    background:transparent;   
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: 100;
}
.controls-likes{
  position: relative;
}
.controls-likes p{
  position: absolute;
  color: white;
  bottom: 0;
  left: 0; 
  margin: 1em; 
  margin-right: 2em;
  text-shadow: 3px 3px 3px rgba(65,52,61,0.37);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  text-overflow: ellipsis;
}
.text-card {
  font-family: 'Stick No Bills', sans-serif;    
  color: white;
  margin: 0px 0.5em 0.7em;
  
}
.text-card p{
  display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 0px;
    margin-left: 1em;
    margin-right: 1em;
}
.photoCont{
  width: 100%;
}
.photoCard {
  width: 100%;
  height: 500px;
  margin: 0em;
  position: relative;
}
.photoCard video{
  object-fit: contain;
}
.cardAnim{
  opacity: 0;
  animation-name: cardAnims;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes cardAnims{
  from {
    opacity: 0;
    transform: scale(0.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
    }
}

/*media queries*/
@media (min-width: 600px) {
  .card{
    margin: 3em;
  }
  .photoCard{
   height: 250px;
  }
  .photoCont{
    flex: 1;
  }
  .text-card{
    flex: 1;
  }
}
@media (min-width: 1000px) {
  .card{
   grid-template-columns: repeat(4, 1fr);
  }
  .photoCard{
    height: 350px;
  }
}