.techstack-container{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin: 0 0px;
}

  @keyframes shine {
    from {
      background-position: center 0;
    }
    to {
      background-position: center 200%;
    }
  }

/*media queries*/
  @media screen and (min-width: 768px) {
    .techstack-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
   