
.card {
    width: 100%;
    height: 93svh;
    scroll-snap-align: start;
    background-color: black; 
   /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;*/
}
.cardVid{
  position: relative;
  width: 100%;
  height: 93svh;  
}
.cardsmall{
  height: 40%;
}
.cardsmall .interactions,
.cardsmall .controls-container
{
  display: none;
}
.commentSection, .reply{
  height: 0;
}
.commentsShown{
  height: 60%;
  background-color: white;
  border-radius: 15px 15px 0px 0px;
}

.replyShown{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20svh;
  background-color: white;
  color: rgb(238, 213, 213);
  margin-bottom: 0;
  padding: 0;
  overflow: hidden;
  z-index: 1012;
}
.emoji, .addComment, .inputIcons{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-style: none;
}
.emoji {
  font-size: 1.5rem;
}
.inputIcons{
 background-color: rgb(232, 232, 232);
 border-radius: 50px;
 margin: 0.7em 0.5em;
 padding: 0.5em;

}
.inputIcons form{
  width: 100%;
}
.inputIcons input[type=text]{
  background-color: rgb(232, 232, 232);
  color: rgb(78, 78, 78);
  border-style: none;
  width: 100%;
}
.iconsInput {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.iconsInput svg {
  margin-left: 0.5em;
  color: black;
}
.cardVid video{
  width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}
.hov{
  opacity: 0.5;
}
.cardVid > span {
  width: 0;
}
.bigRedLiked{
  width: auto;
  background: -webkit-linear-gradient(45deg, #f84b6e, #fe2c55);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  z-index: 1020;
  font-size: 6rem;
  top: var(--bigLikeY);
  animation: likeAnim 3s;
}
@keyframes likeAnim {
    from {
      font-size: 6rem;
      opacity: 1;
      top: var(--bigLikeY);
    }
      to {
        font-size: 13rem;
        opacity: 0;
        top: var(--bigLikeNewY);
      }
}

.controls-container {
    background:transparent;   
    position: absolute;
    bottom: 0;
    left: 0;  
    z-index: 1002;
    width: 100%;
}
.buttonPause{
  background: transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  z-index: 1001;
  border-style: none;
  font-size: 4rem;
  color: transparent;
}
.showButtonPause{
  color: rgba(241, 239, 239, 0.493);
}
.title-descr, .interactions{
  position: relative;
}
.title-descr{
  color: white;
}
.title-descr p:first-child, .descr{
  margin-right: 4em;
  margin-left: 1.2em;
}
.title-descr p:first-child{
  font-weight: bold;
  margin-bottom: 0;
}
.title-descr .descr{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4em;
}
.descr{
  margin-top: 0.5em;
}
.search-help svg:first-child{
  margin-right: 0.3em;
  padding-left: 1.2em;
}
.search-help{
  background-color: rgba(0, 0, 0, 0.413);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.search-help p{
  margin: 0.3em;
}
.search-help svg:last-child{
  margin-left: auto;
  padding-right: 1.2em;
}

.interactions {
  position: absolute;
  bottom: 25px;
  right: 0; 
  margin-bottom: 1em;
  margin-right: 1em;
  text-shadow: 1px 1px 1px rgba(65,52,61,0.37);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 1em;
  z-index: 1003;
  color: white;
}
.newOpacity{
  opacity: 0.5;
}      


.buttonInteractions{
  background-color: transparent;
  border-style: none;
  color: white;
  font-size: 2rem;
  padding: 0;
}
.buttonInteractions span,
.buttonInteractions svg{
  font-size: 2rem;
}
.videoLiked{
  color: #fe2c55;
}
.like .buttonInteractions span{
  font-size: 2.5rem;
}
.prof-icon{
  position: relative;
}
.prof-icon img,
.addComment img{
  border-radius: 50px;
  border: 1px solid white;
}
.prof-icon svg{
  background-color: white;
  color: #fe2c55;
  font-size: 1.1em;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: -0.3em;
  bottom: 0;
  border-radius: 50px;
}
.icon-vid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.icon-vid p {
  margin: 0;
}

.share span{
  transform: rotate(90deg);
  font-weight: 900;
}
.sound svg {
  font-size: 1rem;
  background-color: white;
  color: black;
  border-radius: 50px;
  padding: 0.6em;
}

/*media queries*/
@media (min-width: 600px) {


}
@media (min-width: 1000px) {

}