.commentContainer,
.commentActionsData,
.commentActions,
.commentInfo,
.commentData {
    display: flex;
    align-items: center;
}
.commentContainer{
    width: 100%;
    align-items: flex-start;
    margin: 1em;
}
.commentContainer img:first-child {
    border-radius: 50px;
    margin-top: 0.4em;
}
.commentInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-left: 0.2em;
    margin-right: 2em;
}
.commentInfo p {
    margin-top: 0;
    margin-bottom: 0;
}
.commentUsername{
    font-size: var(--commentDataFont);
}
.commented{
    font-size: 1.3rem;
}
.commentActionsData{
    width: 100%;
    justify-content: space-between;
}
.commentUsername,
.commented {
  margin-right: auto;
}
.commentActions ,
.commentData {
    font-size: var(--commentDataFont);
    color: rgb(66, 65, 65);
}
.commentActions {
    font-size: 1rem;
    color: rgb(66, 65, 65);
    align-items: flex-start;
    justify-content: flex-start;
    width: 102pxnpm run dev;
}
.commentData button {
    border-style: none;
    background-color: white;
    font-size: var(--commentDataFont);
    color: rgb(66, 65, 65);
}
.commentActions button:first-of-type {
    border-style: none;
    background-color: white;
    color: rgb(66, 65, 65);
    font-size: 1rem;
}
.dislike {
    border-style: none;
    background-color: white;
    font-size: var(--commentDataFont);
    color: rgb(66, 65, 65);
  background-image: url("../public/thumbsdown2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: rgba(255, 255, 255, 0.008);
  align-self: flex-end;
  justify-self: flex-end;
}

