@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@500&display=swap');

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--footer);
    padding: 0em 0.3em;
    margin-top: 20px;
    overflow: hidden;
}
.footer-sm-icons{
    font-size:xx-large;
    color: var(--text-footer);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
    position: relative;
    left: -90%;
    width: 100%;
}
.footer-sm-icons svg{
    margin: 10px;
    cursor: pointer;
    padding: 0px 0.2em;
}
.iconYoutube:hover{
  color: red;
}
.iconLinkedin:hover{
    color: steelblue;
}
.iconGithub:hover{
    color: #ed34d2;
}
.iconDev:hover{
      color: #14ff;
}
.iconAnim{
    animation: smIconAnim 25s linear infinite;
}

@keyframes smIconAnim {
    from {
        left: -90%;
    }
    to {
        left: 100%;
    }
}

.footer-form{
    margin-bottom: 3em;
    font-family: 'Stick No Bills', sans-serif;    
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
    color: var(--text-footer);
    font-size: large;
}
.footer-typetext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; 
   
}
.footer-typetext label{
    margin-top: 1em;

}
.footer-typetext input[type=text]{
    padding: 0.5em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;    
  }
.footer-typetext input[type=submit] {
    width: 100%;
    font-size:x-large;
    font-family: 'Stick No Bills', sans-serif;  
    background-color: var(--brand);
    color: var(--text-footer);
    margin: 1em 0;
    cursor: pointer;
    border-radius: 10px;
    letter-spacing: 0.1em;
  }
  
.footer-form input[type=submit]:hover {
    color: var(--text3);
    background: var(--surface1);
}
.footer-radio{
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: start;
    align-content: center;
    gap: 0.2em;
}
.footer-form input[type=radio] {
    margin-top: 0;
}
.footer-form fieldset{
    border-radius: 10px;
}