:root{
  --bigLikeY:  0px;
  --bigLikeX:  0px;
  --bigLikeNewY:  0px;
 --blueLike: "white";
 --commentDataFont: 0.8rem;

}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
main{
  padding:0em;

}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/*queries*/
