.header-container{
    background-image: url(/headerimg.jpg); /* Used if the image is unavailable */
    height: 200px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:cover; /* Resize the background image to cover the entire container */
   
}
.header-h1{
    font-family: 'Stick No Bills', sans-serif;    
    color: var(--brand);
    padding: 0px;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    animation: headerAnim 8s infinite alternate;
    overflow: hidden;
    font-size: 6rem;
    position: relative;
    top: -50px;
    background: rgba(250, 232, 248, 0.7) 
}

@keyframes headerAnim {
    0%   {opacity: 0;
          top: -50px;
          font-size: 6rem;}
    50%  {opacity: 1; font-size: 8rem;}
    100% {opacity: 0;top: 120px; font-size: 6rem;}

}
  