.InboxFriendsTopItemContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;  
    flex-direction: column;
}
.picFriendsTopItem{
    border-style: none;
    border-radius: 50px;
    background-color: transparent;
}
.picFriendsTopItem img{
    border-radius: 50px;
    height: 100%;
}
.nameFriendsTopItem{
    border-style: none;
    background-color: transparent;
    font-weight: 400; 
}
.photoTopItemContainer{
    position: relative;

}
.add,.none, .online, .live{
    border-radius: 50px;
    position: absolute;
    border-style: none;
    right: 0px;
    bottom: 0px;
}
.add {
    background-color:aqua;
}