.friendsItemInbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.friendsItemInboxPict,
.inboxFriendsNameAction button{
    border-style: none;
    background-color: transparent;
            
}
.friendsItemInboxPict img{
     border-radius: 50px;
}
.inboxFriendsNameAction{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

}
.inboxFriendsName{
   font-weight: 400;
}
.inboxFriendsAction{
    font-weight: 400;
    font-size: 0.7rem;
}
.inboxFriendsAction span{
    font-weight:100;
    color: #707070;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.inboxFriendsCount{
    border-style: none;
    background-color: var(--TToklike);
    color: white;
    border-radius: 50px;
    padding-left: 6px;
    height: 17px;
    width: 27px;
    padding-bottom: 20px;
    padding-top: 6px;
    margin-bottom: 1px;
    margin-right: 6px;
}
