.InboxFriendsTopItemContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;  
    flex-direction: column;
    position: relative;
   }
.addThoughtButton,
.userHasNoMessage{
    background-color: white;
    border-radius: 10px;
}
.addThoughtButton{
    position: absolute;
    z-index: 999;
    top: -15px;
    left: 0px;
    padding: 0.5em;
    width: 100%;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.1);
    border-style: none;
}
.addThoughtButton span{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3; 
    -webkit-box-orient: vertical;

}
.userHasNoMessage{
  color: #7F7F7F;
  border-style: none;
  padding: 1em 0.3em;
}
.picFriendsTopItemlive,
.picFriendsTopItemadd,
.picFriendsTopItemnone,
.picFriendsTopItemonline {
    background: white;
    background-clip: padding-box;
  /* !importanté */
    border: solid 2px white;
    position: relative;
    border-radius: 50px;
    padding: 0;
    height: 70px;
  }
.picFriendsTopItemlive:before,
.picFriendsTopItemadd:before,
.picFriendsTopItemnone:before,
.picFriendsTopItemonline:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -5px;
      border-radius: inherit;
      background: transparent;
}
.picFriendsTopItemlive img,
.picFriendsTopItemadd img,
.picFriendsTopItemnone img,
.picFriendsTopItemonline img{
    border-radius: 50px;
    height: 100%;
    
}
.nameFriendsTopItem{
    border-style: none;
    background-color: transparent;
    font-weight: 400; 
}
.photoTopItemContainer{
    position: relative;

}
.add,.none, .online, .live{
    border-radius: 50px;
    position: absolute;
    border-style: none;
    right: 6px;
    bottom: -3px;
    color: transparent;
    font-size: medium;
    background: white;
    background-clip: padding-box;
    border: solid 2px #fafafa;
}
.add {
    background-color:#00d3ff;
    color: white;
}
.online{
    background-color: rgb(64, 167, 64);
    color: transparent;   
}
.live{
    background-color:#a6045a;
    background-image: url(../public/liveGif.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: transparent;
    
}
.picFriendsTopItemlive:before{
    background: linear-gradient(to right, #F92A7A, #F54796);
}
.friendsTopStory:before{
    background: linear-gradient(to right, #5DC9FA, #7CFFD0);

}
.none{
    display: none;
}