
.nav-background {
    background: transparent;
    width: 100%;   
    position: absolute;
    top: 0;
    z-index: 10000;
  }
.navbar-container {
      font-size: x-large;
      color: white;
      padding: 0em 1em;
      display: flex;
      flex-direction: column;
}
.nav-links-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: fixed;
      left: -100%;
      top: 30px;
      gap: 0;
      padding-inline-start: 0px;
      text-align: center;
      transition: 0.3s;
  
}
.logo-close-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
}
.logo-close-container img{
      cursor: pointer;
}
.logo-close-container a{
     display: flex;
     align-items: center;
}
/* following and for you */
.following-foryou-container button{
  font-family:  'Maven Pro', sans-serif;    
  color: rgba(220, 216, 216);
  background-color: transparent;
  border-style: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
}
.following-foryou-container button:nth-child(2){
  color: white;
  background-color: transparent;
  border-style: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

/* hamburger menu */
    .icon {
      display: block;
    }
    .search-container{
      height: 30px;
      position: relative;
      cursor: pointer;
      display: inline-block;
    }
  
    /* end of hamburger menu */

    @media screen and (min-width: 600px) {
      .icon {
        display: none;
      }
      
      .navbar-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      

    }
    
    @media screen and (min-width: 768px) {

    }
    